{% extends "base.html" %}
{% block title %}Accommodation{% endblock %}
{% block content %}

<fieldset>
<legend>Accommodation</legend>
<br>
<a href="http://www.universityrooms.com/en/city/bath/home?gclid=Cj0KEQjwnv27BRCmuZqMg_Ddmt0BEiQAgeY1l1mpJi0tdAmRY6XakIVGcCdFqpQ-qhnvRW_tq2t6UpcaAqF-8P8HAQ" class="button btn-lg btn-success">Book Now</a>
<!-- <a href="http://tinyurl.com/EURYPAA16" class="button btn-lg btn-success">Book Now</a> -->
<br><br>
<p class=text-left>
You can now book your accommodation for EURYPAA 2016 in Bath, UK. The event will take place at Bath University, and accommodation will be in student hall of residence accommodation on campus.
</p>
<p class=text-left>
You can choose the £36 per night package or the £48 per night package. Breakfast is included.
</p>

<p class=text-left>
If you are a female who wants to be in a female-only block, please specify in the relevant section on the booking page.
</p>

<h3>Eating on Campus</h3>
<p class=text-left>
Most foot outlets on the campus are closed in the evenings during August, so it is important, if you want evening meals on the FRIDAY and/or SATURDAY evening, to book it now.
</p>

<p class=text-left>
We have to tell the caterers how many evening meals to prepare.
</p>

<p class=text-left>
Please go to our <a href='/register'>registration site</a> NOW and book your evening meal - at £9 per head
</p>

</fieldset>

{% endblock %}
