{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}

<fieldset>
<legend>Events</legend>
</fieldset>

<div class="row">
  <div class="col-md-3 text-left well"><h2>Thursday 18<sup>th</sup></h2>
      <p>
      <h4><span class="label label-warning">1000h - 1700h</span> Somerset trip with Bill</h4>  There will
        be a charge for transport. Description below.  If you are interested please
        e-mail/message John via the Facebook EURYPAA2016 page
      </p>
      <p><a href="mailto:email@example.com?subject=EURYPAA2016 Thursday Somerset trip">Email John</a></p>

      <p><i>"The west country, including Bath and Bristol are ancient lands belonging to
the old tribal peoples that inhabited the land of Albion (as England  was then
known): they were called the Dobunni. Within these lands is a wealth of history
and ancient majick - from the sacred isle of Avalon (Glastonbury) with its
incredible Tor Piercing the heavens, joining heaven and earth, to the
breathtaking Chalice well gardens and white spring, where the sacred red and
white waters converge and pour from the earth yards apart. Waters renowned
throughout the world for there healing and rejuvenating properties,
Glastonbury hosts the only Temple in the UK totally dedicated to the Goddess
and of course the shops with every form of esoteric book and Chrystal known to
mankind (also very good food and coffee). We will complete this Ancient land
experience by going to Stanton drew stone circle in the valley of Chew, one of
the country's oldest standing stone circles (3 altogether) to complete our
Magical Day out. Join us on a day to remember forever."</i></p>
<p><small>Bill the Druid</small></p>
</div>

<div class="col-md-3 text-left well"><h2>Friday 19<sup>th</sup></h2>
  <p><h4><span class="label label-warning">2100h onwards</span> Kareoke in the Claverton Room</h4></p> 
  <p><h4><span class="label label-warning">2300h - 0300h</span> Night Out @ The Nest</h4> Take a ride into town with us to The Nest - Bath's most
    intimate and kick-ass club venue. Please <a
     href="https://www.facebook.com/EURYPAA2016/posts/533343676790819">pre-register
     by messaging us on Facebook</a></p>
  <p><h4><span class="label label-warning">0300h</span> Rebellion Dogs 24h treasure hunt</h4> Treasure hunt around the city, lead by Edward, Garfield and Sam. All entries need to
    be submitted by 3am Saturday 20<sup>th</sup></p>
</div>

<div class="col-md-3 text-left well"><h2>Saturday 20<sup>th</sup></h2>
    <p><h4><span class="label label-warning">2130h</span> Barn Dance In the Sports Hall.</h4> For a true taste of English Madness you are invited to take your partners and dosie-do' with Phillip Charleston and The Dungaree Band in the convention's much anticipated Barn 
Dance. Great fun and traditionally English. Learn to party like an
old-fashioned farm-worker! Energetic pairs and sets-dancing by Phillip, the
band's caller. Straw hats, waistcoats, long skirts and chequers very much
encouraged.</p> 
    <p><h4><span class="label label-warning">2300h - late</span>GIGGLES SOUNDS.</h4> Chill out to Bath's Reggae DJ "GIGGLES SOUNDS"</p>
</div>

<div class="col-md-3 text-left well"><h2>Sunday 21<sup>st</sup></h2>
    <p><h4><span class="label label-warning">AM</span> Martin's walk</h4></p>
    <p><h4><span class="label label-warning">AM</span>Announcement of treasure hunt results</h4></p>
</div>
</div> <!-- row -->

{% endblock %}
