{% block footer %}
    <div class="footer-rule"><hr></div><br>
    <footer class="footer">
     <div class="container text-muted">
       <div class="row">
         <div class="col-md-4">
           <h4>EURYPAA 2016</h4>
           <ul>
              <li><a href="https://www.facebook.com/EURYPAA2016/" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/eurypaa2016" target="_blank">Twitter</a></li>
              <li><a href="https://www.youtube.com/channel/UCsPerrBSG8C3LbowiZKvKHA" target="_blank">Youtube</a></li>
          </ul>
         </div>
         <div class="col-md-4">
           <h4>Young Persons of AA links</h4>
             <ul>
               <li><a target="_blank" rel="nofollow" href="http://ireypaa.org/">IREYPAA</a> (Ireland)</li>
               <li><a target="_blank" rel="nofollow" href="http://www.scancypaa.org/">SCANCYPAA</a> (Scandinavia)</li>
               <li><a target="_blank" rel="nofollow" href="http://eacypaanyc.org">EACYPAA</a> (Eastern Area USA)</li>
               <li><a target="_blank" rel="nofollow" href="http://www.wacypaaxix.org/site/">WACYPAA</a> (Western Area USA)</li>
               <li><a target="_blank" rel="nofollow" href="http://icypaa.org">ICYPAA</a> (Internaltional - USA)</li>
               <li><a target="_blank" rel="nofollow" href="http://www.swecypaa.se">SWECYPAA</a> (Sweden)</li>
               <li><a target="_blank" rel="nofollow" href="http://ypaa.info">YPAA.info</a> (International - Directory)</li>
               <li><a target="_blank" rel="nofollow" href="http://ypaa.info/submit.php">I run a YPAA!</a> (Add to Directory)</li>
             </ul>
         </div>
         <div class="col-md-4">
           <h4>Join our Mailing list</h4>
           <form role="form" class="form-inline" action="/subscribe" method="POST">
             <div class="form-group"><input name="email" class="form-control" type="email" placeholder="Email"></div>
             <button class="btn btn-default" type="submit">Subscribe</button>
           </form>
         </div>
     </div>
     </div>
    </footer>
{% endblock %}
