{% macro form_field(field, type="text") %}
        {% if field.errors %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
          {{ field(class="form-control form-control-lg", placeholder=field.label.text, type=type) }}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ error }}
            </div>
            {% endfor %}
	{% endif %}
        </div>
{% endmacro %}
