{% extends "base.html" %}
{% block title %}Accommodation{% endblock %}
{% block content %}

<fieldset>
<legend>Accommodation</legend>
<br>
<a href="http://tinyurl.com/EURYPAA16" class="button btn-lg btn-success">Book Now</a>
<br><br>
<p class=text-left>
You can now book your accommodation for EURYPAA 2016 in Bath, UK. The event will take place at Bath University, and accommodation will be in student hall of residence accommodation on campus.
</p>
<p class=text-left>
You can choose the £40 per night package or the £50 per night package. These rooms are VAT-free. You do not pay VAT as we are treated as a charity.
</p>
<p class=text-left>
You do NOT have to take the entire 4 night package, if you want fewer nights. Both packages include breakfast and evening meal (No evening meal on the Sunday night, but the price is reduced accordingly)
</p>
<p class=text-left>
Book early. If we need the University to release more rooms to us after <strike>7th July</strike> <strike>25th July</strike> 8th August, the price may be higher.
</p>
<p class=text-left>
We have a block-booking of rooms, so that all our visitors can be in the same group of buildings.
</p>

<p class=text-left>
If you are a female who wants to be in a female-only block, please specify in the relevant section on the booking page.
</p>

</fieldset>

{% endblock %}
